echo node_modules/ > .gitignore
echo .env >> .gitignore
echo frontend/node_modules/ >> .gitignore
echo backend/node_modules/ >> .gitignore
echo frontend/build/ >> .gitignore
echo frontend/dist/ >> .gitignore